/* stylelint-disable selector-class-pattern */

.commerce-cart {
  padding: var(--spacing-large) 0;
}

.cart__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--grid-4-gutters);
}

.cart__wrapper[hidden],
.cart__empty-cart[hidden] {
  display: none;
}

/* Promo Banner */

.cart__promo-banner {
  padding: var(--spacing-small);
  background: var(--color-positive-800);
  color: var(--color-positive-200);
  display: flex;
  gap: var(--spacing-small);
  align-items: center;
}

.cart__promo-banner__icon svg {
  width: 3rem;
  height: 3rem;
}

.cart__promo-banner__content h1 {
  font: var(--type-headline-1-font);
  padding: 0;
  margin: 0;
}

.cart__promo-banner__content p {
  font: var(--type-body-1-default-font);
  margin: 0;
}

@media (width >= 900px) {
  .cart__wrapper {
    flex-direction: row;
  }

  .cart__left-column {
    flex: 1;
    flex-basis: 70%;
  }

  .cart__right-column {
    flex: 1;
    flex-basis: auto;
  }
}